<h1 class="centered-title"><%= t('bookmarks.title') %></h1>

<% if @bookmarked_events.any? %>
  <div class="row">
    <% @bookmarked_events.each do |event| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <div class="thumbnail-container">
            <% if event.thumbnail.present? %>
              <%= link_to event_path(event) do %>
                <%= image_tag event.thumbnail, alt: event.title, class: "card-img-top" %>
              <% end %>
            <% else %>
              <%= link_to event_path(event) do %>
                <div class="thumbnail-placeholder">No Thumbnail Available</div>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-center">
              <%= link_to event.title, event_path(event) %>
              <%= button_to t('bookmarks.remove_bookmark_button'), bookmark_path(event.bookmarks.find_by(user_id: current_user.id)), 
                             method: :delete, 
                             data: { confirm: t('bookmarks.bookmark_remove_confirm') },
                             class: "btn btn-sm btn-danger" %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= t('bookmarks.no_bookmarks') %></p>
  <div class="center-button">
    <%= link_to t('bookmarks.find_events'), events_path, class: "btn btn-primary" %>
  </div>
<% end %>
