<div class="center jumbotron">
  <h2>ピックアップ</h2>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <div class="thumbnail-container">
            <% if event.thumbnail.present? %>
              <%= link_to event_path(event) do %>
                <%= image_tag event.thumbnail, alt: event.title, class: "card-img-top" %>
              <% end %>
            <% else %>
              <%= link_to event_path(event) do %>
                <div class="thumbnail-placeholder">No Thumbnail Available</div>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to event.title, event_path(event), class: "card-title-link" %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>人気のイベント</h2>
  <div class="row">
    <% @popular_events.each do |event| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <div class="thumbnail-container">
            <% if event.thumbnail.present? %>
              <%= link_to event_path(event) do %>
                <%= image_tag event.thumbnail, alt: event.title, class: "card-img-top" %>
              <% end %>
            <% else %>
              <%= link_to event_path(event) do %>
                <div class="thumbnail-placeholder">No Thumbnail Available</div>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to event.title, event_path(event), class: "card-title-link" %>
            </h5>
            <p class="card-text">
              <%= link_to event.catchphrase, event_path(event), class: "card-text-link" %>
            </p>
            <p class="card-text text-muted">
              <%= pluralize(event.bookmarks.count, "Bookmark") %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="center-button">
    <%= link_to 'もっと見る', search_path(sort: 'rank'), class: 'btn btn-primary' %>
  </div>

  <h2>無料のイベント</h2>
  <div class="row">
    <% @free_events.each do |event| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <div class="thumbnail-container">
            <% if event.thumbnail.present? %>
              <%= link_to event_path(event) do %>
                <%= image_tag event.thumbnail, alt: event.title, class: "card-img-top" %>
              <% end %>
            <% else %>
              <%= link_to event_path(event) do %>
                <div class="thumbnail-placeholder">No Thumbnail Available</div>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to event.title, event_path(event), class: "card-title-link" %>
            </h5>
            <p class="card-text">
              <%= link_to event.catchphrase, event_path(event), class: "card-text-link" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="center-button">
    <%= link_to 'もっと見る', events_path(q: { cost_eq: '0' }), class: 'btn btn-primary' %>
  </div>
</div>
