<% provide(:title, t('password_reset.title')) %>
<h1 class="centered-title"><%= t('password_reset.title') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: password_resets_path, scope: :password_reset) do |f| %>
      <%= f.label :email, t('password_reset.email_label') %>
      <%= f.email_field :email, class: 'form-control' %>
      <div class="center-button">
        <%= f.submit t('password_reset.submit_button_1'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
