<h1>イベント通知のお知らせ</h1>
<p><%= @event.title %>のイベントは明日です！お見逃しなく！</p>
<p>詳細:</p>
<ul>
  <li>開始日時: <%= @event.start_date %></li>
  <li>場所: <%= @event.place %></li>
  <li>カテゴリ: <%= @event.category %></li>
  <li>詳細リンク: <%= @event.link %></li>
</ul>
