<% provide(:title, t('edit_form.title')) %>

<h1 class="centered-title"><%= t('edit_form.title') %></h1>

<div class="event-form">
  <%= form_with(model: @event, local: true) do |form| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> 件のエラーが発生しました:</h2>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title, t('edit_form.title') %>
      <%= form.text_field :title, class: "form-control", placeholder: t('edit_form.placeholder_title') %>
    </div>

    <div class="form-group">
      <%= form.label :catchphrase, t('edit_form.catchphrase') %>
      <%= form.text_field :catchphrase, class: "form-control", placeholder: t('edit_form.placeholder_catchphrase') %>
    </div>

    <div class="form-group">
      <label><%= t('edit_form.thumbnail') %></label>
      <div class="image-upload">
        <div class="image-preview" id="thumbnail-preview">
          <%= form.file_field :thumbnail, direct_upload: true, id: 'thumbnail-input', style: "display: none;" %>
          <button type="button" class="btn btn-add-image" data-input-id="thumbnail-input">＋</button>
        </div>
        <div class="image-preview" id="image1-preview">
          <%= form.file_field :image_1, direct_upload: true, id: 'image1-input', style: "display: none;" %>
          <button type="button" class="btn btn-add-image" data-input-id="image1-input">＋</button>
        </div>
        <div class="image-preview" id="image2-preview">
          <%= form.file_field :image_2, direct_upload: true, id: 'image2-input', style: "display: none;" %>
          <button type="button" class="btn btn-add-image" data-input-id="image2-input">＋</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :body, t('edit_form.body') %>
      <%= form.text_area :body, class: "form-control", placeholder: t('edit_form.placeholder_body') %>
    </div>

    <div class="form-group datetime-select">
      <%= form.label :start_date, t('edit_form.start_date') %>
      <%= form.datetime_local_field :start_date, value: @event.start_date&.strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
    </div>

    <div class="form-group datetime-select">
      <%= form.label :end_date, t('edit_form.end_date') %>
      <%= form.datetime_local_field :end_date, value: @event.end_date&.strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :area, t('edit_form.area') %>
      <%= form.select :area, Event::AREA_OPTIONS.map { |area| [t("areas.#{area}"), area] }, { prompt: t('edit_form.prompt_select') }, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :place, t('edit_form.place') %>
      <%= form.text_field :place, class: "form-control", placeholder: t('edit_form.placeholder_place') %>
    </div>

    <div class="form-group">
      <%= form.label :station, t('edit_form.station') %>
      <%= form.text_field :station, class: "form-control", placeholder: t('edit_form.placeholder_station') %>
    </div>

    <div class="form-group">
      <%= form.label :category, t('edit_form.category') %>
      <%= form.select :category, Event::CATEGORY_OPTIONS.map { |category| [t("categories.#{category}"), category] }, { prompt: t('edit_form.prompt_select') }, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :contact, t('edit_form.contact') %>
      <%= form.text_field :contact, class: "form-control", placeholder: t('edit_form.placeholder_contact') %>
    </div>

    <div class="form-group">
      <%= form.label :cost, t('edit_form.cost') %>
      <%= form.text_field :cost, class: "form-control", placeholder: t('edit_form.placeholder_cost') %>
    </div>

    <div class="form-group">
      <%= form.label :link, t('edit_form.link') %>
      <%= form.url_field :link, class: "form-control", placeholder: t('edit_form.placeholder_link') %>
    </div>

    <%= form.submit t('edit_form.submit'), class: "btn btn-submit" %>
  <% end %>
</div>
