<h1>新着イベント</h1>

<%= search_form_for @q, url: events_path, method: :get, html: { class: "search-form" } do |f| %>
  <div class="form-inline">
    <%= f.text_field :combined_search, placeholder: "キーワードから絞り込む", class: "form-control" %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  </div>
<% end %>

<% if @events.any? %>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
          <!-- エリアとブックマークボタン -->
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span>東京都　<%= event.area %></span>
            <% if current_user %>
              <div class="bookmark-button-container">
                <% if current_user.bookmarks.exists?(event: event) %>
                  <%= button_to "ブックマーク解除", bookmark_path(current_user.bookmarks.find_by(event: event)), method: :delete, class: "btn btn-sm btn-danger" %>
                <% else %>
                  <%= button_to "ブックマーク", bookmarks_path(event_id: event.id), method: :post, class: "btn btn-sm btn-primary" %>
                <% end %>
              </div>
            <% end %>
          </div>

            <!-- タイトル -->
            <h5 class="card-title"><%= link_to event.title, event_path(event) %></h5>

            <!-- 開始日 -->
            <p><%= event.start_date.strftime('%Y年%m月%d日') if event.start_date.present? %>〜</p>

            <!-- サムネイル -->
            <% if event.thumbnail.attached? %>
              <div class="thumbnail-container mb-2">
                <%= image_tag event.thumbnail, alt: event.title, class: "img-fluid" %>
              </div>
            <% else %>
              <div class="thumbnail-placeholder mb-2">No Thumbnail Available</div>
            <% end %>
            <p><strong><%= event.catchphrase %></strong></p>
            <p>場所:<%= event.place %></p>
            <p>最寄駅:<%= event.station %></p>
            <p><%= event.category %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pagination-container">
    <%= will_paginate @events %>
  </div>
<% else %>
  <p>該当するイベントは見つかりませんでした。</p>
<% end %>
