<div class="d-flex align-items-center justify-content-between">
  <h1><%= @event.title %></h1>
  
  <% if current_user %>
    <div class="bookmark-button-container">
      <% if current_user.bookmarks.exists?(event: @event) %>
        <%= button_to bookmark_path(current_user.bookmarks.find_by(event: @event)), method: :delete, class: "btn btn-danger btn-sm" do %>
          <i class="glyphicon glyphicon-bookmark"></i>
        <% end %>
      <% else %>
        <%= button_to bookmarks_path(event_id: @event.id), method: :post, class: "btn btn-bookmark btn-sm" do %>
          <i class="glyphicon glyphicon-bookmark"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="event-details">
  <p><i class="glyphicon glyphicon-time"></i> <%= @event.start_date.strftime('%Y/%m/%d') if @event.start_date.present? %>〜</p>
  <p><i class="glyphicon glyphicon-map-marker"></i> <%= @event.place %></p>
  <div class="d-flex">
    <p><i class="glyphicon glyphicon-road"></i> <%= @event.station %></p>
    <p><i class="glyphicon glyphicon-globe"></i> <%= t("areas.#{@event.area}") %></p>
    <p><i class="glyphicon glyphicon-tags"></i> <%= t("categories.#{@event.category}") %></p>
  </div>
</div>

<h3 class="section-title"><%= t('show.info') %></h3>

<div class="row">
  <div class="col-md-4 text-center">
    <% if @event.thumbnail.attached? %>
      <div class="thumbnail-container">
        <%= image_tag @event.thumbnail, alt: t('show.thumbnail'), class: 'card-img-top' %>
      </div>
    <% else %>
      <div class="thumbnail-placeholder">No Thumbnail Available</div>
    <% end %>
  </div>

  <div class="col-md-4 text-center">
    <% if @event.image_1.attached? %>
      <div class="thumbnail-container">
        <%= image_tag @event.image_1, alt: t('show.image_1'), class: 'card-img-top' %>
      </div>
    <% else %>
      <div class="thumbnail-placeholder">No Image Available</div>
    <% end %>
  </div>

  <div class="col-md-4 text-center">
    <% if @event.image_2.attached? %>
      <div class="thumbnail-container">
        <%= image_tag @event.image_2, alt: t('show.image_2'), class: 'card-img-top' %>
      </div>
    <% else %>
      <div class="thumbnail-placeholder">No Image Available</div>
    <% end %>
  </div>
</div>

<p><strong><%= @event.catchphrase %></strong></p>

<div class="event-body">
  <p><%= @event.body %></p>
</div>

<h3 class="section-title"><%= t('show.more') %></h3>
<hr class="section-divider">
<div class="event-details">
  <div class="detail-row">
    <span class="detail-label"><%= t('show.place') %></span>
    <span class="detail-content">
      <%= @event.place %><br>
    </span>
  </div>

  <div class="detail-row">
    <span class="detail-label"><%= t('show.station') %></span>
    <span class="detail-content">
      <%= @event.station %>
    </span>
  </div>

  <div class="detail-row">
    <span class="detail-label"><%= t('show.event_period') %></span>
    <span class="detail-content">
      <%= @event.start_date %> ～ <%= @event.end_date %>
    </span>
  </div>

  <div class="detail-row">
    <span class="detail-label"><%= t('show.contact') %></span>
    <span class="detail-content"><%= @event.contact %></span>
  </div>

  <div class="detail-row">
    <span class="detail-label"><%= t('show.cost') %></span>
    <span class="detail-content">¥<%= @event.cost %></span>
  </div>

  <div class="detail-row">
    <span class="detail-label"><%= t('show.link') %></span>
    <span class="detail-content">
      <%= link_to t('show.link'), @event.link, target: '_blank', class: 'link-button' if @event.link.present? %>
    </span>
  </div>
  <p class="note"><%= t('show.info_note') %></p>
</div>
