<% provide(:title, t('viewed_history.title')) %>

<h1><%= t('viewed_history.title') %></h1>
<p><%= t('viewed_history.max_items') %></p>

<% if @viewed_events.any? %>
  <div class="row">
    <% @viewed_events.each do |event| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <div class="thumbnail-container">
            <% if event.thumbnail.present? %>
              <%= link_to event_path(event) do %>
                <%= image_tag event.thumbnail, alt: event.title, class: "card-img-top" %>
              <% end %>
            <% else %>
              <%= link_to event_path(event) do %>
                <div class="thumbnail-placeholder">No Thumbnail Available</div>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to event.title, event_path(event), class: "event-title" %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <p><%= t('viewed_history.no_events') %></p>
<% end %>
