<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <!-- Follow Us -->
      <div class="footer-section">
        <h5><%= t('footer.follow_us') %></h5>
        <div class="social-links">
          <%= link_to "Twitter", "https://twitter.com", target: "_blank" %>
          <%= link_to "Facebook", "https://facebook.com", target: "_blank" %>
          <%= link_to "Instagram", "https://instagram.com", target: "_blank" %>
        </div>
      </div>

      <!-- イベント -->
      <div class="footer-section left-align event">
        <h5><%= t('footer.events') %></h5>
        <ul>
          <li><strong><%= t('footer.area') %></strong>
            <ul>
              <li><%= link_to t('areas.shibuya'), events_path(q: { area_eq: "shibuya" }) %></li>
              <li><%= link_to t('areas.harajuku'), events_path(q: { area_eq: "harajuku" }) %></li>
              <li><%= link_to t('areas.aoyama'), events_path(q: { area_eq: "aoyama" }) %></li>
              <li><%= link_to t('areas.hiroo'), events_path(q: { area_eq: "hiroo" }) %></li>
              <li><%= link_to t('areas.shoto'), events_path(q: { area_eq: "shoto" }) %></li>
              <li><%= link_to t('areas.ikejiri'), events_path(q: { area_eq: "ikejiri" }) %></li>
              <li><%= link_to t('areas.ebisu'), events_path(q: { area_eq: "ebisu" }) %></li>
              <li><%= link_to t('areas.daikanyama'), events_path(q: { area_eq: "daikanyama" }) %></li>
              <li><%= link_to t('areas.nakameguro'), events_path(q: { area_eq: "nakameguro" }) %></li>
              <li><%= link_to t('areas.omotesando'), events_path(q: { area_eq: "omotesando" }) %></li>
            </ul>
          </li>
          <li><strong><%= t('footer.category') %></strong>
            <ul>
              <li><%= link_to t('categories.gourmet'), events_path(q: { category_eq: "gourmet" }) %></li>
              <li><%= link_to t('categories.shopping'), events_path(q: { category_eq: "shopping" }) %></li>
              <li><%= link_to t('categories.experience'), events_path(q: { category_eq: "experience" }) %></li>
              <li><%= link_to t('categories.exhibition'), events_path(q: { category_eq: "exhibition" }) %></li>
              <li><%= link_to t('categories.onsen'), events_path(q: { category_eq: "onsen" }) %></li>
              <li><%= link_to t('categories.subculture'), events_path(q: { category_eq: "subculture" }) %></li>
              <li><%= link_to t('categories.sightseeing'), events_path(q: { category_eq: "sightseeing" }) %></li>
            </ul>
          </li>
          <li><strong><%= t('footer.when') %></strong>
            <ul>
              <li><%= link_to t('footer.when_links.today'), events_path(q: { start_date_gteq: Date.current.beginning_of_day, end_date_lteq: Date.current.end_of_day }) %></li>
              <li><%= link_to t('footer.when_links.tomorrow'), events_path(q: { start_date_gteq: Date.tomorrow.beginning_of_day, end_date_lteq: Date.tomorrow.end_of_day }) %></li>
              <li><%= link_to t('footer.when_links.this_weekend'), events_path(q: { start_date_gteq: Date.current.at_beginning_of_week.end_of_week.beginning_of_day, end_date_lteq: Date.current.at_beginning_of_week.end_of_week.end_of_day }) %></li>
              <li><%= link_to t('footer.when_links.spring'), events_path(q: { start_date_gteq: Date.new(Date.current.year, 3, 20), end_date_lteq: Date.new(Date.current.year, 6, 20) }) %></li>
              <li><%= link_to t('footer.when_links.summer'), events_path(q: { start_date_gteq: Date.new(Date.current.year, 6, 21), end_date_lteq: Date.new(Date.current.year, 9, 22) }) %></li>
              <li><%= link_to t('footer.when_links.autumn'), events_path(q: { start_date_gteq: Date.new(Date.current.year, 9, 23), end_date_lteq: Date.new(Date.current.year, 12, 21) }) %></li>
              <li><%= link_to t('footer.when_links.winter'), events_path(q: { start_date_gteq: Date.new(Date.current.year, 12, 22), end_date_lteq: Date.new(Date.current.year, 3, 19) }) %></li>
              <li><%= link_to t('footer.when_links.halloween'), events_path(q: { start_date_gteq: Date.new(Date.current.year, 10, 31), end_date_lteq: Date.new(Date.current.year, 10, 31).end_of_day }) %></li>
              <li><%= link_to t('footer.when_links.christmas'), events_path(q: { start_date_gteq: Date.new(Date.current.year, 12, 25), end_date_lteq: Date.new(Date.current.year, 12, 25).end_of_day }) %></li>
              <li><%= link_to t('footer.when_links.new_year'), events_path(q: { start_date_gteq: Date.new(Date.current.year, 1, 1), end_date_lteq: Date.new(Date.current.year, 1, 1).end_of_day }) %></li>
            </ul>
          </li>
          <li><strong><%= t('footer.price') %></strong>
            <ul>
              <li><%= link_to t('footer.price_links.free'), events_path(q: { cost_eq: "0" }) %></li>
              <li><%= link_to t('footer.price_links.up_to_1000yen'), events_path(q: { cost_lteq: "1000" }) %></li>
              <li><%= link_to t('footer.price_links.from_1000yen_to_5000yen'), events_path(q: { cost_gteq: "1000", cost_lteq: "5000" }) %></li>
              <li><%= link_to t('footer.price_links.from_5000yen_to_10000yen'), events_path(q: { cost_gteq: "5000", cost_lteq: "10000" }) %></li>
              <li><%= link_to t('footer.price_links.from_10000yen'), events_path(q: { cost_gteq: "10000" }) %></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- リンク -->
      <div class="footer-section">
        <ul class="footer-links">
          <li><%= link_to t('footer.terms_of_service'), agreement_path %></li>
          <li><%= link_to t('footer.privacy_policy'), policy_path %></li>
          <li><%= link_to t('footer.help'), help_path %></li>
          <li><%= link_to t('footer.contact_us'), contact_path %></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      © Shibuya Connect, Inc.
    </div>
  </div>
</footer>
