<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <!-- Follow Us -->
      <div class="footer-section">
        <h5>Follow Us</h5>
        <div class="social-links">
          <%= link_to "Twitter", "https://twitter.com", target: "_blank" %>
          <%= link_to "Facebook", "https://facebook.com", target: "_blank" %>
          <%= link_to "Instagram", "https://instagram.com", target: "_blank" %>
        </div>
      </div>

      <!-- イベント -->
      <div class="footer-section left-align">
        <h5>イベント</h5>
        <ul>
          <li>エリア　：渋谷 原宿 青山 広尾 松濤 池尻 恵比寿 代官山 中目黒 表参道</li>
          <li>カテゴリ：グルメ ショッピング 体験 展覧会 温泉 サブカルチャー 旅行・旅行 無料</li>
          <li>シーン　：ひとり 友達 家族 デート</li>
          <li>いつ　　：今日 明日 今週末 春 夏 秋 冬 ハロウィン クリスマス お正月</li>
        </ul>
      </div>

      <!-- 特集 -->
      <div class="footer-section left-align">
        <h5>特集</h5>
        <ul>
          <li>お正月 お花見 ゴールデンウィーク ビアガーデン
              バーベキュー・キャンプ 夏祭り 花火 秋祭り
              ハロウィン イルミネーション クリスマス 歓迎会・送迎会</li>
        </ul>
      </div>

      <!-- リンク -->
      <div class="footer-section">
        <ul class="footer-links">
          <li><%= link_to "利用規約", agreement_path %></li>
          <li><%= link_to "プライバシーポリシー", policy_path %></li>
          <li><%= link_to "ヘルプ", help_path %></li>
          <li><%= link_to "お問い合わせ", contact_path %></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      © Shibuya, Inc.
    </div>
  </div>
</footer>
