<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Original App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "EN", '#' %></li>
        <% if logged_in? %>
          <li id="notification-icon">
            <a href="#" id="notification-toggle">
              <i class="glyphicon glyphicon-bell"></i>
            </a>
            <ul id="notification-dropdown" class="dropdown-menu">
              <li class="dropdown-header">
                <strong>通知</strong>
                <%= link_to '通知一覧', event_reminders_path, class: 'pull-right' %>
              </li>
              <% if @notifications.any? %>
                <% @notifications.each do |notification| %>
                  <li>
                    <%= link_to event_path(notification.event_id) do %>
                      <div>
                        <strong><%= notification.title %></strong>
                        <p><%= notification.body %></p>
                        <small><%= notification.published_at.strftime('%Y/%m/%d %H:%M') if notification.published_at %></small>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              <% else %>
                <li>
                  <p class="text-center">通知はありません</p>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" id="account" class="dropdown-toggle">
              User <b class="caret"></b>
            </a>
          <ul id="dropdown-menu" class="dropdown-menu">
            <li><%= link_to raw('<i class="glyphicon glyphicon-user"></i> プロフィール'), current_user %></li>
            <li><%= link_to raw('<i class="glyphicon glyphicon-plus"></i> イベントを投稿'), new_event_path %></li>
            <li><%= link_to raw('<i class="glyphicon glyphicon-list-alt"></i> 自分のイベント'), my_events_path %></li>
            <li><%= link_to raw('<i class="glyphicon glyphicon-bookmark"></i> ブックマーク'), my_bookmarks_path %></li>
            <li><%= link_to raw('<i class="glyphicon glyphicon-cog"></i> 設定'), edit_user_path(current_user) %></li>
            <li><%= link_to raw('<i class="glyphicon glyphicon-log-out"></i> ログアウト'), logout_path, data: { "turbo-method": :delete } %></li>
          </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン／登録", login_path %></li>
        <% end %>
        <li>
          <a href="#" id="offcanvas-toggle">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- オフキャンバスメニュー -->
<aside id="offcanvas-menu" class="offcanvas-menu">
  <div class="offcanvas-header">
    <button id="offcanvas-close">&times;</button>
  </div>
  <ul class="offcanvas-mobile-list">
    <% if logged_in? %>
      <li><%= link_to raw('<i class="glyphicon glyphicon-bell"></i> 通知'), event_reminders_path %></li>
      <li><%= link_to raw('<i class="glyphicon glyphicon-user"></i> プロフィール'), current_user %></li>
      <li><%= link_to raw('<i class="glyphicon glyphicon-plus"></i> イベントを投稿'), new_event_path %></li>
      <li><%= link_to raw('<i class="glyphicon glyphicon-list-alt"></i> 自分のイベント'), my_events_path %></li>
      <li><%= link_to raw('<i class="glyphicon glyphicon-bookmark"></i> ブックマーク'), my_bookmarks_path %></li>
      <li><%= link_to raw('<i class="glyphicon glyphicon-cog"></i> 設定'), edit_user_path(current_user) %></li>
      <li><%= link_to raw('<i class="glyphicon glyphicon-log-out"></i> ログアウト'), logout_path, data: { "turbo-method": :delete } %></li>
    <% else %>
      <li><%= link_to raw('<i class="glyphicon glyphicon-log-in"></i> ログイン／登録'), login_path %></li>
    <% end %>
  </ul>
  <ul class="offcanvas-list">
    <li><%= link_to raw('<i class="glyphicon glyphicon-search"></i> 検索'), search_path %></li>
    <li><%= link_to raw('<i class="glyphicon glyphicon-time"></i> 閲覧履歴'), history_path %></li>
    <li><%= link_to raw('<i class="glyphicon glyphicon glyphicon-info-sign"></i> お知らせ'), notices_path %></li>
  </ul>
</aside>
